# Get these from https://opensky-network.org/
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
# The Latitude and Longitude from the area you choose (decimal)
HOME_LAT=
HOME_LON=
# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
# PGHOST is set by compose.yaml to "db" and defaults to 127.0.0.1 when running locally
TZ=
# For example TZ= Europe/Berlin so set the Timezone