#ifndef SECRET_H
#define SECRET_H

constexpr char WIFI_SSID[]     = "YOUR_WIFI";
constexpr char WIFI_PASSWORD[] = "YOUR_PASSWORD";
constexpr char API_URL[]       = "http://192.168.XXX.XX:3000/api/display";

#endif